Establish final draft of offchain writing ENSIP

# Feature Request

Post the External Resolver ENSIP created by Blockful on the [ENS forum](discuss.ens.domains/). Adding updates based on L2 research of other implementations.

## Blocked by

#147 
#118 
#148
#149 

## Draft ([template](https://github.com/unruggable-labs/ENSIPs/blob/main/ensip-template.md))

---
title: <The ENSIP title is a few words, not a complete sentence>
description: <Description is one full (short) sentence>
author: <a comma separated list of the author's or authors' name + '/' ENS name + GitHub username (in parenthesis), or name and email (in angle brackets).  Example, FirstName LastName / ENS Name (@GitHubUsername), FirstName LastName / ENS Name <foo@bar.com>, FirstName / ENS Name (@GitHubUsername) and GitHubUsername / ENS Name (@GitHubUsername)>
discussions-to: <URL>
status: Draft
type: <Standards Track, Meta, or Informational>
category: <Core, ENSRC> # Only required for Standards Track. Otherwise, remove this field.
created: <date created on, in ISO 8601 (yyyy-mm-dd) format>
requires: <ensip number(s)> # Only required when you reference an ENSIP in the `Specification` section. Otherwise, remove this field.
---

<!--
  READ ensip-TBD (https://eips.ethereum.org/ENSIPS/ensip-TBD.md) BEFORE USING THIS TEMPLATE!

  This is the suggested template for new ensips. After you have filled in the requisite fields, please delete these comments.

  Note that an ensip number will be assigned by an editor. When opening a pull request to submit your ENSIP, please use an abbreviated title in the filename, `eip-draft_title_abbrev.md`.

  The title should be 44 characters or less. It should not repeat the ensip number in title, irrespective of the category.

  TODO: Remove this comment before submitting
-->

## Abstract

<!--
  The Abstract is a multi-sentence (short paragraph) technical summary. This should be a very terse and human-readable version of the specification section. Someone should be able to read only the abstract to get the gist of what this specification does.

  TODO: Remove this comment before submitting
-->

## Motivation

<!--
  This section is optional.

  The motivation section should include a description of any nontrivial problems the ensip solves. It should not describe how the ENSIP solves those problems, unless it is not immediately obvious. It should not describe why the ENSIP should be made into a standard, unless it is not immediately obvious.

  TODO: Remove this comment before submitting
-->

## Specification

<!--
  The Specification section should describe the syntax and semantics of any new feature. The specification should be detailed enough to allow competing, interoperable implementations.

  It is recommended to follow RFC 2119 and RFC 8170. Do not remove the key word definitions if RFC 2119 and RFC 8170 are followed.

  TODO: Remove this comment before submitting
-->

The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in RFC 2119 and RFC 8174.

## Rationale

<!--
  The rationale fleshes out the specification by describing what motivated the design and why particular design decisions were made. It should describe alternate designs that were considered and related work, e.g. how the feature is supported in other languages.

  The current placeholder is acceptable for a draft.

  TODO: Remove this comment before submitting
-->

TBD

## Backwards Compatibility

<!--

  This section is optional.

  All ensips that introduce backwards incompatibilities must include a section describing these incompatibilities and their severity. The ENSIP must explain how the author proposes to deal with these incompatibilities. ENSIP submissions without a sufficient backwards compatibility treatise may be rejected outright.

  The current placeholder is acceptable for a draft.

  TODO: Remove this comment before submitting
-->

No backward compatibility issues found.

## Test Cases

<!--
  This section is optional for non-Core ensips.

  The Test Cases section should include expected input/output pairs, but may include a succinct set of executable tests. It should not include project build files. No new requirements may be introduced here (meaning an implementation following only the Specification section should pass all tests here.)
  If the test suite is too large to reasonably be included inline, then consider adding it as one or more files in `../assets/ensip-####/`. External links are discouraged.

  TODO: Remove this comment before submitting
-->

## Reference Implementation

<!--
  This section is optional.

  The Reference Implementation section should include a minimal implementation that assists in understanding or implementing this specification. It should not include project build files. The reference implementation is not a replacement for the Specification section, and the proposal should still be understandable without it.
  If the reference implementation is too large to reasonably be included inline, then consider adding it as one or more files in `../assets/ensip-####/`. External links are discouraged.

  TODO: Remove this comment before submitting
-->

## Security Considerations

<!--
  All ensips must contain a section that discusses the security implications/considerations relevant to the proposed change. Include information that might be important for security discussions, surfaces risks and can be used throughout the life cycle of the proposal. For example, include security-relevant design decisions, concerns, important discussions, implementation-specific guidance and pitfalls, an outline of threats and risks and how they are being addressed. ENSIP submissions missing the "Security Considerations" section will be rejected. An ENSIP cannot proceed to status "Final" without a Security Considerations discussion deemed sufficient by the reviewers.

  The current placeholder is acceptable for a draft.

  TODO: Remove this comment before submitting
-->

Needs discussion.

## Copyright

Copyright and related rights waived via [CC0](../LICENSE.md).

https://www.notion.so/blockful/ENSIP-16-b6a519e7d09047d2862bf5df17f088a5